<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
<form method="post" action="<%- JSON.stringify(path_name) %>">
	 <input type="text" name="name" placeholder="name">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="passwordConfirmed" placeholder="passwordConfirmed">
    <input type="submit" value="Connection">
</form>
</body>
</html>
